
body { margin:0; padding:0; display:flex; justify-content:center; }
.container {
    position: relative;
    width: 100%;
    max-width: 1414px;
    margin:auto;
    background-image: url('bd_bg_v6.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.bubble {
    position: absolute;
    background: rgba(255,255,255,0.85);
    border: 2px solid #aaa;
    border-radius: 10px;
    padding:5px;
    font-size:14px;
    resize: vertical;
}
@media(max-width:600px){
    .bubble {
        font-size:12px;
    }
}
